# Hoisting stricte : chaque package ne voit que ses dépendances déclarées.
# On relâche pour l'écosystème Expo/React Native qui suppose un node_modules à plat.
node-linker=hoisted
shamefully-hoist=false
strict-peer-dependencies=false
auto-install-peers=true
prefer-workspace-packages=true
link-workspace-packages=deep
